.footer {
 background-color: var(--color-primario);
  text-align: center;
  padding: var(--space-lg);
  margin-top: var(--space-lg);
  font-size: var(--space-md);
  color: var(--color-secundario);
  font-weight: bold;
}

.footerTxt {
  color: #e60023;
  text-decoration: none;
  font-weight: 600;
}

.footerTxt:hover {
  text-decoration: underline;
}
