main #gallery {
  column-count: 3;
  column-gap: var(--space-md);
  padding: var(--space-md);
}
/* inline para simular pinterest y que fluya en la columna */
.image-card {
  display: inline-block;
  width: 100%;
  margin-bottom: var(--space-md);
  position: relative;
  border-radius: var(--radius-md);
  overflow: hidden;
  break-inside: avoid;
  /* evita cortes entre columnas */
}

.image-card img {
  width: 100%;
  display: block;
  border-radius: var(--radius-md);
}

/* Over img oculto */
.card-overImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* MOSTRAR con raton */
.card-overImg.visible {
  opacity: 1;
}

/* guardar copy pinterest */
.card-save {
  background-color: #e60023;
  color: var(--color-secundario);
  border: none;
  padding: 0.5rem var(--space-md);
  border-radius: 16px;
  font-size: var(--space-md);
  font-weight: 600;
  cursor: pointer;
}
