* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #222;
  color: #eee;
}

#error-message {
  text-align: center;
  margin: 10px 0;
  color: red;
}
